If we want to combine multiple DataFrames:

1) Import Library

In [6]:
import pandas as pd
import os

2) Create variabe for input output file name and
   put all the files(which we want to combine) in input folder

In [7]:
input_loc="C:/Users/Shakeel/Desktop/jupyter/input_data/"
output_loc="C:/Users/Shakeel/Desktop/jupyter/output_data/"

3) Create variable to store all files

In [8]:
file_list=os.listdir(input_loc)
file_list

['SALES_DATA1.csv', 'SALES_DATA2.csv']

4) Concate all file using for loop

In [9]:
final_df=pd.DataFrame()
for file in file_list:
    if file.endswith(".csv"):
        df=pd.read_csv(input_loc+file)
        final_df=final_df.append(df)
final_df.to_csv(output_loc+"Final_df.csv")

In [12]:
Final_DataFrame = pd.read_csv("C:/Users/Shakeel/Desktop/jupyter/output_data/Final_df.csv")
Final_DataFrame

,Unnamed: 0,Unnamed: 0.1,Units,UnitCost,Unit Ordered,Date OF Order,Rep,Item,Region
0,0,0,95.0,1.99,45.0,2020-01-06,NaN,NaN,NaN
1,1,1,50.0,19.99,66.0,2020-01-23,NaN,NaN,NaN
2,2,2,36.0,4.99,77.0,2020-02-09,NaN,NaN,NaN
3,3,3,27.0,19.99,5.0,2020-02-26,NaN,NaN,NaN
4,4,4,56.0,2.99,98.0,2020-03-15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
81,38,38,NaN,NaN,NaN,NaN,Thompson,towel,West
82,39,39,NaN,NaN,NaN,NaN,Andrews,T-Shirt,Central
83,40,40,NaN,NaN,NaN,NaN,Jardine,earphones,Central
84,41,41,NaN,NaN,NaN,NaN,Jardine,motherboard,Central
85,42,42,NaN,NaN,NaN,NaN,Andrews,graphic card,Central